<html>
<head>
<link rel="stylesheet" type="text/css" href="phone-mockup/css/main.css" />
<style>
.theme-showcase{
display:flex;
flex-wrap:wrap;
justify-content:center;
align-items:center;
}
.theme-showcase > div {
width:50%;
padding:15px;
box-sizing:border-box;
display:flex;
flex-direction:column;
align-items:center;
}

img{
max-width:100%;
height:auto;
}
</style>
</head>
<body>


<div class="theme-showcase">

<div> <div><img src="https://4.bp.blogspot.com/-LoeC02LpYOQ/XUr2x19GqJI/AAAAAAAACoE/PBF7ZnIUJqc2oO9aB1hewdJgbqhwERQ4QCLcBGAs/s1200/My%2BPost.png"></div><div><button>click me</button></div></div>

<div> <div><img src="https://4.bp.blogspot.com/-LoeC02LpYOQ/XUr2x19GqJI/AAAAAAAACoE/PBF7ZnIUJqc2oO9aB1hewdJgbqhwERQ4QCLcBGAs/s1200/My%2BPost.png"></div><div><button>click me</button></div></div>


<div> <div><img src="https://4.bp.blogspot.com/-LoeC02LpYOQ/XUr2x19GqJI/AAAAAAAACoE/PBF7ZnIUJqc2oO9aB1hewdJgbqhwERQ4QCLcBGAs/s1200/My%2BPost.png"></div><div><button>click me</button></div></div>


<div> <div><img src="https://4.bp.blogspot.com/-LoeC02LpYOQ/XUr2x19GqJI/AAAAAAAACoE/PBF7ZnIUJqc2oO9aB1hewdJgbqhwERQ4QCLcBGAs/s1200/My%2BPost.png"></div><div><button>click me</button></div></div>

</div>


</body>

<html>
